<div class="contact-page">
  <h1>İletişim</h1>

  <div class="contact-details">
    <p><strong>Adres:</strong> Cumhuriyet Mah. Atatürk Cad. No:171/A Çanakkale/Kepez</p>
    <p><strong>Tel:</strong> 0 540 286 19 15</p>
    <p><strong>Email:</strong> sahanklinik17&#64;gmail.com</p>
    <p><strong>Çalışma saatlerimiz:</strong> Pazartesi-Cumartesi, 9:00 - 17:00 </p>
  </div>

  <div class="contact-message">
    <h2>Formu doldurarak bize mesajınızı iletebilirsiniz</h2>
    <form>
      <div>
        <label for="name">İsim:</label>
        <input id="name" type="text" placeholder="isim soyisim" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Emailiniz" />
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" placeholder="Mesajınız"></textarea>
      </div>
      <button type="button" (click)="onSubmit()">Gönder</button>
    </form>
  </div>
</div>
