<div class="container-fluid hero-component-container" style="padding: 0; margin: 0;">
  <div class="row gx-0 h-100">
    <!-- Hero Photo -->
    <div class="col-12 col-md-6 hero-photo">
      <img src="/images/hero-photo.png" alt="Hero Photo" class="img-fluid h-100 w-100" />
    </div>

    <!-- Hero Text -->
    <div class="col-12 col-md-6 hero-text d-flex flex-column justify-content-center align-items-center">
      <p class="lead fw-bold">Şahan Dent Ağız & Diş Sağlığı Polikliniği</p>
      <h1 class="display-4">Gülüşünüzle Parlayın</h1>
      <p class="text-center description">
        Düzenli olarak diş hekimlerinize gitmek, potansiyel sorunları erken teşhis etmeye ve tedavi etmeye yardımcı
        olabilir.
      </p>
      <button class="btn btn-light btn-lg mt-4">Daha Fazla Bilgi</button>
    </div>
  </div>
</div>
