
.hero-component-container {
  display: flex;
  background-color: #5fb0d0;
}

#hero-photo {
  height: 100vh;
  flex: 4;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero-text {
  height: 100vh;
  flex: 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
