<!-- <div class="container-fluid dis-hijyen-belt h-100" style="border: 3px solid blue;"> -->
<div class="container-fluid dis-hijyen-belt h-100" >
  <!-- <div class="row h-100" style="border: 3px solid green;"> -->
  <div class="row h-100" >
    <!-- Left Section: Text Area -->
    <!-- <div class="col-12 col-md-6 d-flex justify-content-center align-items-center" style="border: 3px solid orange;" > -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"  >
      <app-text-area></app-text-area>
    </div>

    <!-- Right Section: Image Area -->
    <!-- <div class="col-12 col-md-6 d-flex justify-content-center align-items-center" style="border: 3px solid red;" > -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"  >
      <app-image-area></app-image-area>
    </div>
  </div>
</div>
