<div id="text-area-container">
  <p>DİŞ HİJYENİ</p>
  <p>
    Dişlerinizi nasıl iyi fırçalayacağınızı biliyor musunuz?
  </p>
  <p>
    Diş fırçalama, ağız ve diş sağlığını korumak için önemlidir. Günde en az iki kez düzenli olarak yapılmalı, doğru fırça ve diş macunu kullanılmalı, diş etlerinie zarar vermemek için nazik hareketlerle gerçekleştirilmelidir.
  </p>
  <p>
    Günde en az iki kez
  </p>

  <p>
    Doğru diş fırçası
  </p>
  <p>
    Doğru diş macunu
  </p>
  <p>
    Nazik hareketlerle gerçekleştirilmeli
  </p>
  <button>Daha fazlası</button>
</div>
