.verilen-hizmetler-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of cards */
  justify-content: center; /* Centers all cards horizontally */
}

.card {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 8px;
}

.card-img-wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-wrapper img {
  object-fit: contain;
  height: 60px;
  width: 60px;
  filter: invert(56%) sepia(24%) saturate(658%) hue-rotate(165deg);
}

.card-title {
  margin: 10px 0;
  font-size: 1.25rem;
}

.card-text {
  margin-top: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
}

#daha-fazlasi {
  text-align: center;
}

#daha-fazlasi .btn {
  padding: 10px 20px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
