<div class="verilen-hizmetler-container">
  <div class="container mt-4 d-flex justify-content-center">
    <div class="row justify-content-center">
      <div
        class="col-12 col-sm-6 col-md-4 mb-4 d-flex justify-content-center"
        *ngFor="let service of services"
      >
        <div class="card text-center">
          <div class="card-body">
            <div class="card-img-wrapper">
              <img
                src="{{ service.image }}"
                class="card-img-top"
                alt="{{ service.title }}"
              />
            </div>
            <h5 class="card-title">{{ service.title }}</h5>
            <p class="card-text">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="daha-fazlasi" class="text-center mt-4">
    <a href="#" class="btn btn-primary">Daha Fazla</a>
  </div>
