<div class="fiyatlandirma-container">
  <h1>Fiyatlandırma</h1>
  <p>En iyi hizmetlerimiz için uygun fiyatlarımızı keşfedin!</p>

  <div class="card-container">
    <div class="card" style="width: 18rem">
      <!-- <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 1"> -->
      <div class="card-body">
        <h5 class="card-title">Muayene ve Teşhis</h5>
        <h5 class="card-title">İletişime Geçiniz</h5>

        <h5 class="card-title">Diş Temizliği (Profesyonel Diş Hijyeni)</h5>
        <h5 class="card-title">Röntgen Çekimi</h5>

        <h5 class="card-title">Diş Dolgusu veya Restorasyon</h5>
        <h5 class="card-title">Diş Çekimi</h5>
        <h5 class="card-title">Ağız Hijyeni Eğitimi</h5>
        <h5 class="card-title">Ortodontik Muayene</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Gülüş tasarımı</h5>
        <p class="card-text">Popüler hizmetlerimiz için önerilen paket.</p>
        <a href="#" class="btn btn-primary">Detaylar</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Paket 3</h5>
        <p class="card-text">Tüm hizmetlerimiz için premium paketimiz.</p>
        <a href="#" class="btn btn-primary">Detaylar</a>
      </div>
    </div>
  </div>
</div>
